<div class="container">
  <div class="booking-container header-helper">
    <form [formGroup]="bookingForm" (submit)="onSubmit()">
      <div class="booking-section">
        <h2 class="booking-title">
          <span class="passengers-icon"></span>Passengers
        </h2>
        <p class="booking-subtitle">
          Enter the passenger's names as they appear on document (passport or
          ID).
        </p>

        <ul>
          <li
            class="passenger-item booking-block"
            *ngFor="let item of passengerList; index as i"
          >
            <app-passenger-item
              [passenger]="item"
              [index]="i"
            ></app-passenger-item>
          </li>
        </ul>
      </div>

      <div class="booking-section">
        <h2 class="booking-title">
          <span class="contact-icon"></span>Contact details
        </h2>
        <p class="booking-subtitle">
          We need contact details to be able to deliver the latest information
          regarding your flight.
        </p>
        <div class="booking-block">
          <div class="booking-form-row">
            <div class="booking-form-cell">
              <mat-form-field class="country-code">
                <mat-label>Country code</mat-label>
                <mat-select formControlName="countryCode" required>
                  <mat-option value="one">Belarus(+375)</mat-option>
                  <mat-option value="two">Poland(+48)</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    bookingForm.controls['countryCode'].invalid &&
                    bookingForm.controls['countryCode'].touched
                  "
                >
                  <span
                    *ngIf="bookingForm.controls['countryCode'].errors?.['required']"
                    >Please select a country code</span
                  >
                </mat-error>
              </mat-form-field>
            </div>
            <div class="booking-form-cell">
              <mat-form-field class="phone-number">
                <mat-label>Mobile phone number</mat-label>
                <input
                  matInput
                  placeholder="e.g. 11111111111"
                  formControlName="phoneNumber"
                  required
                />
                <mat-error
                  *ngIf="
                    bookingForm.controls['phoneNumber'].invalid &&
                    bookingForm.controls['phoneNumber'].touched
                  "
                >
                  <span
                    *ngIf="bookingForm.controls['phoneNumber'].errors?.['required']"
                    >Please enter an mobile phone number</span
                  >
                  <span
                    *ngIf="bookingForm.controls['phoneNumber'].errors?.['pattern']"
                    >Mobile phone number is invalid</span
                  >
                </mat-error>
              </mat-form-field>
            </div>
            <div class="booking-form-cell">
              <mat-form-field class="email">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="e.g. example@email.com"
                  formControlName="email"
                  required
                />
                <mat-error
                  *ngIf="
                    bookingForm.controls['email'].invalid &&
                    bookingForm.controls['email'].touched
                  "
                >
                  <span
                    *ngIf="bookingForm.controls['email'].errors?.['required']"
                    >Please enter an email</span
                  >
                  <span *ngIf="bookingForm.controls['email'].errors?.['email']"
                    >Email is invalid</span
                  >
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="booking-buttons">
        <button mat-button color="primary">Back</button>
        <button mat-raised-button color="primary">Continue</button>
      </div>
    </form>
  </div>
</div>
