<div class="edit">
  <div class="edit__way">
    <span>Dublin</span>
    <img
      src="assets/images/svg/return_trip.svg"
      alt="return_trip"
    />
    <span>Warsaw Modlin</span>
  </div>
  <div class="edit__return">
    <span>Return</span>
    <span class="edit__return-badge"></span>
    <span>1Mar - 18Mar</span>
    <span class="edit__return-badge"></span>
    <span> 3 </span>
    <img src="assets/images/svg/account.svg" alt="account" />
  </div>
  <button mat-button color="primary" class="edit__button">Edit</button>
</div>
