:host {
  ::ng-deep {
    .mat-mdc-form-field-infix {
      min-height: 0;
      display: flex;
      align-items: center;
      height: 34px;
    }

    .mat-mdc-select-trigger {
      justify-content: space-between;
      gap: 30px;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
      padding: 0;
      width: auto;
    }
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mat-stepper-vertical, .mat-stepper-horizontal {
      background: none;
      font-family: 'Roboto', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    .mat-horizontal-stepper-header-container{
      max-width: 490px;
    }
    .mat-step-header .mat-step-label {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #74767A;
    }
    .mat-horizontal-stepper-header{
      padding: 0 20px ;
      height: 30px;
    }
    .mat-horizontal-content-container{
    display: none;
  }
  }
}

.header {
  padding: 24px 0;
  background-color: rgba(116, 118, 122, 0.2);
  position: relative;
  margin-bottom: -100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.logo{
  cursor: pointer;
}
