<div class="container" *ngIf="ticketsFacade.selectGetBasket$ | async as basket">
  <div class="cart">
    <h2 class="title">Cart</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
            color="primary"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="flightCode">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element" class="flight-number">
          {{ element.flightCode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="flight">
        <th mat-header-cell *matHeaderCellDef class="flight">Flight</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ticketsFrom }} - {{ element.ticketsTo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="typeTrip">
        <th mat-header-cell *matHeaderCellDef>Type Trip</th>
        <td mat-cell *matCellDef="let element">{{ element.typeTrip }}</td>
      </ng-container>

      <ng-container matColumnDef="dataTime">
        <th mat-header-cell *matHeaderCellDef>Data & Time</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dateFrom }}, {{ element.departureTimeFrom }} -
          {{ element.departureTimeTo }} <br />
          {{ element.dateTo }}, {{ element.departureTimeFrom }} -
          {{ element.departureTimeTo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="passengers">
        <th mat-header-cell *matHeaderCellDef>Passengers</th>
        <td mat-cell *matCellDef="let element">{{ element.passengers }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element" class="price">
          {{ element.price }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="edit">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Delete</span>
            </button>
            <button mat-menu-item>
              <span>Edit</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
      >
        >
      </tr>
    </table>

    <div class="total">
      <button class="add-new" mat-button color="primary">+ Add new trip</button>
      <div class="total-info">
        <p>Total <span>€572.34</span></p>
      </div>
    </div>
    <div class="cart-buttons">
      <button mat-button color="primary">Return to Account</button>
      <button mat-raised-button color="primary" type="submit">Continue</button>
    </div>
  </div>
</div>
