<div class="ticket">
  <div class="ticket__way">
    <img
      ngSrc="assets/images/svg/airplanemode_right.svg"
      alt="airplane-mode"
      height="24"
      width="24"
    />
    <span>Dublin to Warsaw Modlin </span>
  </div>
  <div class="slider">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab *ngFor="let tab of ticketsData" [disabled]="tab.money === ''">
        <ng-template mat-tab-label>
          <div class="slider__label">
            <span class="slider__date">{{ tab.date | date : "d MMM" }}</span>
            <span class="slider__week">{{ tab.date | date : "EEEE" }}</span>
            <ng-container *ngIf="tab.money !== ''; else airSvg">
              <span class="slider__money">€{{ tab.money }}</span>
            </ng-container>
          </div>
        </ng-template>
        <ng-template #airSvg>
          <img
            class="slider__svg"
            ngSrc="assets/images/svg/Icon_air.svg"
            alt="airplane-mode"
            height="24"
            width="24"
          />
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="select">
    <div class="date">
      <span class="date__week">{{ data.date | date : "EEE, d MMM y" }}</span>
      <div class="date__time">
        <span class="date__time-hours">{{ data.flightTime }}</span>
        <span class="date__time-utc">UTC +0</span>
      </div>
      <span class="date__from">Dublin</span>
    </div>
    <div class="air-time">
      <span class="air-time__line"></span>
      <div class="air-time__info">
        <span>{{ data.durationTime }}</span>
        <img
          ngSrc="assets/images/svg/Icon_air_right.svg"
          alt="air"
          height="24"
          width="45"
        />
        <span>Direct</span>
      </div>
      <span class="air-time__line"></span>
    </div>
    <div class="date">
      <span class="date__week">{{ data.date | date : "EEE, d MMM y" }}</span>
      <div class="date__time">
        <span class="date__time-utc">UTC +1</span>
        <span class="date__time-hours">{{ data.arrivalTime }}</span>
      </div>
      <span class="date__from float-right">Warsaw Modlin</span>
    </div>
    <span class="select__flight">Flight no.</span>
    <span class="select__FR">FR 1925</span>
    <div class="seats">
      <span
        class="seats__available"
        [ngClass]="data.seats <= 30 ? 'red' : 'yellow'"
        >{{ data.seats }} seats <br />
        available</span
      >
      <span class="seats__text">Price</span>
      <span class="seats__price">€{{ data.money }}</span>
    </div>
    <button mat-raised-button color="primary" class="select__button">
      Select
    </button>
  </div>
</div>
