<app-edit
  [searchData]="(ticketsFacade.selectGetSearch$ | async) ?? searchData"
></app-edit>
<app-ticket
  [ticketsData]="(ticketsFacade.from$ | async) ?? []"
  [currency]="(ticketsFacade.currency$ | async) ?? 'EUR'"
  [image]="svgFrom"
  [imageTimeTravel]="svgTimeFrom"
  [searchData]="(ticketsFacade.selectGetSearch$ | async) ?? searchData"
  [dateFrom]="
    (ticketsFacade.selectGetSearchDateStart$ | async) ?? searchData.dateStart
  "
  (isEditClick)="onEdit($event)"
  [searchFrom]="from"
  [searchTo]="to"
></app-ticket>
<app-ticket
  *ngIf="way === '2'"
  [ticketsData]="(ticketsFacade.to$ | async) ?? []"
  [currency]="(ticketsFacade.currency$ | async) ?? 'EUR'"
  [image]="svgTo"
  [imageTimeTravel]="svgTimeTo"
  [searchData]="(ticketsFacade.selectGetSearch$ | async) ?? searchData"
  [dateFrom]="
    (ticketsFacade.selectGetSearchDateEnd$ | async) ?? searchData.dateStart
  "
  (isEditClick)="onEdit($event)"
  [searchFrom]="to"
  [searchTo]="from"
></app-ticket>
<div class="buttons">
  <button
    (click)="locationBack()"
    mat-button
    color="primary"
    class="buttons__back"
  >
    Back
  </button>
  <button
    [disabled]="isEditTo"
    routerLink="/booking/details"
    mat-raised-button
    color="primary"
    class="buttons__continue"
  >
    Continue
  </button>
</div>
