<app-edit></app-edit>
<app-ticket
  [ticketsData]="(ticketsFrom$ | async) ?? []"
  [image]="svgFrom"
  [imageTimeTravel]="svgTimeFrom"
></app-ticket>
<app-ticket
  [ticketsData]="(ticketsTo$ | async) ?? []"
  [image]="svgTo"
  [imageTimeTravel]="svgTimeTo"
></app-ticket>
<div class="buttons">
  <button
    (click)="locationBack()"
    mat-button
    color="primary"
    class="buttons__back"
  >
    Back
  </button>
  <button
    routerLink="/booking/details"
    mat-raised-button
    color="primary"
    class="buttons__continue"
  >
    Continue
  </button>
</div>
