<app-edit></app-edit>
<app-ticket
  [ticketsData]="(ticketsFacade.from$ | async) ?? []"
  [currency]="(ticketsFacade.currency$ | async) ?? 'EUR'"
  [image]="svgFrom"
  [imageTimeTravel]="svgTimeFrom"
  [searchData]="(ticketsFacade.selectGetSearch$ | async) ?? searchData"
></app-ticket>
<app-ticket
  [ticketsData]="(ticketsFacade.to$ | async) ?? []"
  [currency]="(ticketsFacade.currency$ | async) ?? 'EUR'"
  [image]="svgTo"
  [imageTimeTravel]="svgTimeTo"
  [searchData]="(ticketsFacade.selectGetSearch$ | async) ?? searchData"
></app-ticket>
<div class="buttons">
  <button
    (click)="locationBack()"
    mat-button
    color="primary"
    class="buttons__back"
  >
    Back
  </button>
  <button
    routerLink="/booking/details"
    mat-raised-button
    color="primary"
    class="buttons__continue"
  >
    Continue
  </button>
</div>
