<div class="container" *ngIf="ticketsFacade.selectGetBasket$ | async as basket">
  <div class="booking-container header-helper">
    <h2 class="booking-title"><span class="summary-icon"></span>Summary</h2>
    <div class="ticket-wrap">
      <div class="summary">
        <div class="summary__ticket block-wrap">
          <div class="flight-info__summary">
            <div class="flight-info">
              <h3 class="flight-number">
                {{ basket.flights[0].flightCode }}
              </h3>

              <p class="flight-direction">
                {{ basket.search.from }} —
                {{ basket.search.to }}
              </p>
            </div>
            <div class="flight-date__summary">
              <p class="flight-date">
                {{ basket.flights[0].date | date : "EEEE, d MMMM, y," }}
              </p>
              <p class="flight-time">
                {{ basket.flights[0].departureTimeFrom }} —
                {{ basket.flights[0].departureTimeTo }}
              </p>
            </div>
          </div>
          <ng-container
            *ngFor="
              let passenger of basket.passengers.passengers;
              let i = index
            "
          >
            <div class="passenger-info__summary">
              <h4 class="passenger-name">
                {{ passenger.name + " " + passenger.lastName }}
              </h4>
              <div class="passenger-info">
                <p>1 checked bag (total 23 kg) included</p>
                <p>1 cabin bag + 1 personal item (max. 8 kg) included</p>
                <p>Seat {{ i + 10 }}E</p>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="summary__ticket block-wrap"></div>
      </div>
      <div class="total-block">
        <div class="block-wrap">
          <div class="total-info">
            <div class="total-passenger">
              <div>1 x Adult Fare</div>
              <div>200$</div>
            </div>
            <div class="total-ticket">
              <div class="total-ticket__desc">
                <div>Fare</div>
                <div>200$</div>
              </div>
              <div class="total-ticket__desc">
                <div>Tax & Service Charge</div>
                <div>91.31$</div>
              </div>
            </div>
          </div>
          <div class="total-info">
            <div class="total-passenger">
              <div class="total-passenger__type">
                <span>1 x </span>Adult Fare
              </div>
              <div>200$</div>
            </div>
            <div class="total-ticket">
              <div class="total-ticket__desc">
                <div>Fare</div>
                <div>200$</div>
              </div>
              <div class="total-ticket__desc">
                <div>Tax & Service Charge</div>
                <div>91.31$</div>
              </div>
            </div>
          </div>
          <div class="total-sum">
            <p class="total-sum-text">Total:</p>
            <p class="total-sum-number">200$</p>
          </div>
        </div>
      </div>
    </div>
    <div class="booking-buttons">
      <button mat-button color="primary" (click)="locationBack()">Back</button>
      <button mat-stroked-button color="primary">Add to order card</button>
      <button mat-raised-button color="primary">Buy now</button>
    </div>
  </div>
</div>
